.buttonWrapper {
  display: inline-block;
  border-radius: 999px;
  background: linear-gradient(180deg, #355e90 0%, #2d4e77 100%);
  padding: 1px;
  transition: background 0.2s ease;
}

.button {
  display: inline-block;
  position: relative;
  font-size: 13px;
  font-family: "Segoe UI", sans-serif;
  color: #ececec;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);

  border: none;
  background-color: #4e7bab;
  background-image: url("button/noise.png");
  background-repeat: repeat;
  background-blend-mode: overlay;

  box-shadow:
    inset 0 3px 7px rgba(255, 255, 255, 0.17),
    /*тиснение*/ inset 0 -3px 7px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2),
    /*внутреннее свечение*/ inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 1px 0 rgba(0, 0, 0, 0.2),
    /*внутренняя тень*/ 0 5px 10px rgba(0, 0, 0, 0.12),
    /*Внешняя тень*/ 0 2px 4px 0 rgba(0, 0, 0, 0.4);

  border-radius: inherit;
  padding: 4px 16px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0%,
    rgb(0, 0, 0) 100%
  );
  opacity: 0.07;
  mix-blend-mode: overlay;
  pointer-events: none;
  transition: all 0.2s ease;
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  background: #fff;
  opacity: 0.1;
}

.button:active {
  opacity: 0.8;
  box-shadow:
    inset 0 3px 7px rgba(255, 255, 255, 0.17),
    /*тиснение*/ inset 0 -3px 7px rgba(0, 0, 0, 0.12),
    inset 0 1px 5px rgba(0, 0, 0, 0.4),
    /*внутренняя тень*/ 0 1px 0 rgba(255, 255, 255, 0.37);
}

.button:active::before {
  background-image: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  opacity: 0.15;
}

.buttonWrapper:has(.button:active) {
  background: linear-gradient(180deg, #2d4e77 0%, #355e90 100%);
}
