.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.buttonWrapper {
  background-color: #436da0;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.justButtons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
