// убираем tap=highlight на мобилках

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.buttonWrapper {
  background-color: #436da0;
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.justButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
